<p>
  <!-- para poder acceder a lo creado en nuestro concepto html y aplicar nuestro concepto de interpolación debemos hacer lo siguiente -->
  Nombre: {{nombrePersona}} <!-- Aquí podemos entender el concepto clave de la interpolación --> Apellido: {{apellidoPersona}} Edad: {{edad}}
  <!-- A la edad le podemos sumar uno directamente por el código html a través del siguiente comando por el código html-->
  Edad: {{edad+1}} <!-- Con este método de Angular podemos observar que podemos realizar cálculos -->
  
  <!-- Aquí vamos a obtener la edad a través de un método -->
  Edad: {{getEdad()}}
</p>
